.subject {
    background-color: #f7f8fc;
    min-height: 600px;
    padding: 60px 0;

    h3 {
        text-align: center;
        font-weight: 500;
        margin-bottom: 80px;
    }

    &__items {
        display: flex;
        justify-content: center;

        &_first {
            margin-right: 80px;
        }
    }

    .item {
        display: flex;
        justify-content: space-between;
        width: 260px;
        height: 70px;
        text-decoration: none;
        background-color: #fff;
        padding-left: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.08);
        margin-bottom: 40px;
        transition: 0.3s box-shadow;

        &__arrow {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &_img {
                height: 70%;
            }
        }

        &__descr {
            display: flex;
            align-items: center;
        }

        &:hover {
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }

    &__button {
        width: 250px;
        height: 40px;
        display: block;
        margin: 0 auto;
        background-color: white;
        border: 1px solid #ac58fa;
        color: black;
        
        &:hover {
            box-shadow: inset 3px -10px 25px rgba(167, 25, 196, 0.4);
        }
    }
}


@media (max-width: $breakpointL) {
    .subject {
        &__items {
            &_first .item,
            &_second .item {
                width: 100%;
            }

            &_first,
            &_second {
                margin-right: 0;
                width: 50%;
            }

            &_first {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: $breakpointM) {
    .subject {
        &__items {
            flex-direction: column;

            &_first,
            &_second {
                margin-right: 0;
                width: 100%;

                .item {
                    max-width: 300px;
                    margin: 0 auto 30px auto;
                }
            }
        }
    }
}

@media (max-width: $breakpointS) {
    .subject {
        h1 {
            font-size: 25px;
        }

        h3 {
            font-size: 17px;
            margin: 10px 0 50px 0;
        }
    }
}