$breakpointXXL: 1399px;
$breakpointXL: 1199px;
$breakpointL: 991px;
$breakpointM: 767px;
$breakpointS: 575px;
$breakpointXS: 100%;

* {
    font-family: 'Museo Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    font-weight: 700;
}

.hide {
    display: none;
}

.show {
    display: block;
}


@media (max-width: $breakpointXXL) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: $breakpointXL) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: $breakpointL) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: $breakpointM) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: $breakpointS) {
    .container {
        max-width: 100%;
    }
}


@import './header';
@import './promo';
@import './forms';
@import './buttons';
@import './about';
@import './subject';
@import './modal';
@import './use';
@import './support';
@import './phone';
@import './timer';
@import './footer';