* {
    font-family: 'Museo Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    font-weight: 700;
}

.hide {
    display: none;
}

.show {
    display: block;
}


@media (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}


@import './header';
@import './promo';
@import './forms';
@import './buttons';
@import './about';
@import './subject';
@import './modal';
@import './use';
@import './support';
@import './phone';
@import './timer';